{% extends 'internal-base.html.twig' %}
{% block content %}
    <h1>
        Création de votre personnage
    </h1>
    <div class="alert alert-info" role="alert">
        Votre personnage est l'élément le plus important de votre empire.
        Ses caractéristiques rayonnent à travers toutes vos colonies,
        vos flottes, et c'est ce personnage qui doit survivre à tout prix.<br />
        Ce personnage démarrera dans une flotte dans un système de départ.
        N'ayez crainte, l'USC empechera toute attaque pendant un temps.
    </div>
    <form action="{{ path('character') }}" method="post">
        <div class="form-group">
            <div class="form-row">
                <p class="col-xs-4">
                    <label for="characterLastName">Nom du personnage</label>
                    <input type="text"
                           name="lastName"
                           autofocus="autofocus"
                           tabindex="0"
                           required="required"
                           class="form-control"
                           id="characterLastName"
                           placeholder="Nom de famille"
                           value="{{ lastName|default('') }}" />
                    <small class="form-text text-muted">
                        Pourquoi pas
                        <a href="#"
                           class="click-to-complete"
                           tabindex="50"
                           data-target="characterLastName">{{ random.lastName }}</a>
                        ?
                    </small>
                </p>
                <p class="col-xs-4">
                    <label for="characterFirstName">Prénom du personnage</label>
                    <input type="text"
                           name="firstName"
                           tabindex="0"
                           required="required"
                           class="form-control"
                           id="characterFirstName"
                           placeholder="Prénom"
                           value="{{ firstName|default('') }}" />
                    <small class="form-text text-muted">
                        Pourquoi pas
                        <a href="#"
                           class="click-to-complete"
                           tabindex="50"
                           data-target="characterFirstName">{{ random.firstName }}</a>
                        ?
                    </small>
                </p>
                <p class="col-xs-4">
                    <label for="characterGivenName">Surnom du personnage</label>
                    <input type="text"
                           name="givenName"
                           tabindex="0"
                           class="form-control"
                           id="characterGivenName"
                           placeholder="Surnom"
                           value="{{ givenName|default('') }}" />
                    <small class="form-text text-muted">
                        Pourquoi pas
                        <a href="#"
                           class="click-to-complete"
                           tabindex="50"
                           data-target="characterGivenName">{{ random.givenName }}</a>
                        ?
                    </small>
                </p>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <div class="form-row">
                <p class="form-col alert alert-info" role="alert"">
                    Vous pouvez conserver des points pour plus tard.
                    Il vous reste
                    <strong class="whole-remainder-number"
                          data-whole="skillpoints">{{ startSkillPoints }}</strong>
                    points à attribuer.
                </p>
            </div>
            <div class="form-row vf-small">
                {% for skill in skills %}
                <p class="col-xs-1">
                    <input type="number"
                           min="0"
                           step="1"
                           max="{{ startSkillPoints }}"
                           name="skill[{{ skill.id }}]"
                           tabindex="0"
                           class="form-control input-sm whole-control-number"
                           data-whole="skillpoints"
                           value="0"
                           id="characterSkill_{{ skill.id }}" />
                    <label class="form-check-label"
                           for="characterSkill_{{ skill.id }}">
                        {{ skill.name }}
                    </label>
                </p>{% endfor %}
            </div>
        </div>
        <input type="hidden"
               name="_csrf"
               value="{{ csrf_token('user-character') }}" />
        <button type="submit"
                name="createCharacter"
                tabindex="0"
                class="btn btn-primary">Créer ce premier personnage</button>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(function(){
            let wn = new voidfield.WholeNumber('skillpoints', {{ startSkillPoints }});
            wn.bindEvents();
        });
    </script>
{% endblock %}