<fieldset class="container-fluid">
    <legend>
        Construction possible
    </legend>
    <div class="row row-cols-1 row-cols-md-2">
        {% for building in buildable %}
            <div class="col mb-4">
                {% include 'internal/colonies/building.html.twig' with {'building': building, 'colony': colony} %}
            </div>
        {% endfor %}
    </div>
</fieldset>
{% if colony.buildQueue is not empty %}
<fieldset class="container-fluid">
    <legend>
        En cours de construction
    </legend>
    <div class="row row-cols-1 row-cols-md-2">
        {% for bq in colony.buildQueue %}
            <div class="col mb-4">
                <h4>{{ bq.building.name }}</h4>
                <meter min="0" max="{{ bq.building.points }}" value="{{ bq.building.points - bq.points }}"></meter>
                <p>
                    Démarré au
                    {{ bq.startDate|date('d/m/Y @ H:i') }}
                    fin estimé au
                    {{ bq.estimatedEndDate|date('d/m/Y @ H:i') }}
                </p>
            </div>
        {% endfor %}
    </div>
</fieldset>{% endif %}
{%  if colony.buildings is not empty %}
<fieldset class="container-fluid">
    <legend>
        Déjà construits
    </legend>
    <ul class="list-group list-group-horizontal">
        {% for bc in colony.buildings %}
             <li class="list-group-item">
                <h4>{{ bc.building.name }}</h4>
                <form method="post" action="">
                    <div class="row row-cols-8">
                        <p class="col mb-3">
                            Intégrité
                            <meter min="0" max="100" value="{{ bc.integrity }}"></meter>
                        </p>
                        <p class="col mb-3">
                            Fonctionnement
                            <meter min="0" max="100" value="{{ bc.running }}"></meter>
                        </p>
                    </div>
                </form>
            </li>
        {% endfor %}
    </ul>
</fieldset>{% endif %}