<div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">
            {{ building.name }}
        </h5>
        <p class="card-text">
            {{ building.description }}
        </p>
    </div>
    <ul class="list-group list-group-flush">
        {% if building.buildCost %}<li class="list-group-item {% if building.buildCost > colony.owner.money %} text-danger{% endif %}">
            💰 {{ building.buildCost }}
        </li>{% endif %}
        <li class="list-group-item">
            ⏲ {{ building.baseDuration|duration(complex=1) }}
        </li>
    </ul>
    {% if not building.emptyRecipe %}
    {% include 'comps/resources-list.html.twig' with {'_values': building.recipe, '_insufficient': building.insufficientResources } %}
    {% endif %}{% if building.canBeBuilt %}
    <form method="post" action="{{ path('colony_build', {'cid': colony.id}) }}">
        <div class="card-body">
            <input type="hidden" name="_csrf" value="{{ csrf_token('colony-' ~ colony.id ~ '-build-' ~ building.id) }}" />
            <input type="hidden" name="bid" value="{{ building.id }}" />
            <input type="submit" class="btn btn-primary" name="submitBuild" value="Construire" />
        </div>
    </form>{% endif %}
</div>