{% extends 'internal-base.html.twig' %}
{% block content %}
    <div class="container-fluid">
        <h2>
            {{ colony.name }}
        </h2>
        <ul class="list-group list-group-horizontal">
            {% for stock in stocks %}
                <li class="list-group-item">
                    {{ stock.resource.name }}
                    {{ stock.stocks|nformat(2, false) }}
                </li>
            {% endfor %}
            <li class="list-group-item">
                👷 Travailleurs
                {{ colony.workers }}
                /
                {{ colony.population }}
            </li>
            <li class="list-group-item">
                🔋 Énergie
                {{ colony.energyUsed }}
                /
                {{ colony.energyStock }}
            </li>
        </ul>
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs"
                    id="colonyTabs"
                    role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active"
                           id="general-tab"
                           data-toggle="tab"
                           href="#general-tabpane"
                           role="tab"
                           aria-controls="general-tabpane"
                           aria-selected="true">Vue générale</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           id="planet-tab"
                           data-toggle="tab"
                           href="#planet-tabpane"
                           role="tab"
                           aria-controls="planet-tabpane"
                           aria-selected="true">Planète</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           id="buildings-tab"
                           data-toggle="tab"
                           href="#buildings-tabpane"
                           role="tab"
                           aria-controls="buildings-tabpane"
                           aria-selected="false">Batiments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           id="techs-tab"
                           data-toggle="tab"
                           href="#techs-tabpane"
                           role="tab"
                           aria-controls="techs-tabpane"
                           aria-selected="false">Recherches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           id="prods-tab"
                           data-toggle="tab"
                           href="#prods-tabpane"
                           role="tab"
                           aria-controls="prods-tabpane"
                           aria-selected="false">Production</a>
                    </li>{% if hasSpaceport or hasSpacefactory %}
                    <li class="nav-item">
                        <a class="nav-link"
                           id="fleets-tab"
                           data-toggle="tab"
                           href="#fleets-tabpane"
                           role="tab"
                           aria-controls="fleets-tabpane"
                           aria-selected="false">Spatioport</a>
                    </li>{% endif %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane border-left active"
                         id="general-tabpane"
                         role="tabpanel"
                         aria-labelledby="general-tabpane">
                        {% include 'internal/colonies/general.html.twig' %}
                    </div>
                    <div class="tab-pane"
                         id="planet-tabpane"
                         role="tabpanel"
                         aria-labelledby="planet-tabpane">
                        {% include 'internal/colonies/planet.html.twig' %}
                    </div>
                    <div class="tab-pane"
                         id="buildings-tabpane"
                         role="tabpanel"
                         aria-labelledby="buildings-tabpane">
                        {% include 'internal/colonies/buildings.html.twig' %}
                    </div>
                    <div class="tab-pane"
                         id="techs-tabpane"
                         role="tabpanel"
                         aria-labelledby="techs-tabpane">
                        {% include 'internal/colonies/techs.html.twig' %}
                    </div>
                    <div class="tab-pane"
                         id="prods-tabpane"
                         role="tabpanel"
                         aria-labelledby="prods-tabpane">
                        <fieldset class="container-fluid">
                            <legend>
                                Production
                            </legend>
                        </fieldset>
                        {% for productor in productors %}{% endfor %}
                    </div>
                    <div class="tab-pane"
                         id="fleets-tabpane"
                         role="tabpanel"
                         aria-labelledby="fleets-tabpane">
                        <fieldset class="container-fluid">
                            <legend>
                                Spatioport
                            </legend>
                        </fieldset>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}