{% extends 'internal-base.html.twig' %}
{% block content %}
    <div class="container-fluid">
        <h2>{{ colony.name }}</h2>
        <div class="row">
            {% for stock in stocks %}
                <div class="col-sm">
                    {{ stock.resource.name }}
                    {{ stock.stocks|nformat }}
                </div>
            {% endfor %}
            <div class="col-sm">
                👷 Travailleurs
                {{ colony.workers }}
                /
                {{ colony.population }}
            </div>
            <div class="col-sm">
                🔋 Énergie
                {{ colony.energyUsed }}
                /
                {{ colony.energyStock }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs"
                    id="colonyTabs"
                    role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active"
                           id="general-tab"
                           data-toggle="tab"
                           href="#general-tabpane"
                           role="tab"
                           aria-controls="general-tabpane"
                           aria-selected="true">Vue générale</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           id="planet-tab"
                           data-toggle="tab"
                           href="#planet-tabpane"
                           role="tab"
                           aria-controls="planet-tabpane"
                           aria-selected="true">Planète</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           id="buildings-tab"
                           data-toggle="tab"
                           href="#buildings-tabpane"
                           role="tab"
                           aria-controls="buildings-tabpane"
                           aria-selected="false">Batiments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           id="extracts-tab"
                           data-toggle="tab"
                           href="#extracts-tabpane"
                           role="tab"
                           aria-controls="extracts-tabpane"
                           aria-selected="false">Extraction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           id="prods-tab"
                           data-toggle="tab"
                           href="#prods-tabpane"
                           role="tab"
                           aria-controls="prods-tabpane"
                           aria-selected="false">Production</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           id="fleets-tab"
                           data-toggle="tab"
                           href="#fleets-tabpane"
                           role="tab"
                           aria-controls="fleets-tabpane"
                           aria-selected="false">Spatioport</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane border-left active"
                         id="general-tabpane"
                         role="tabpanel"
                         aria-labelledby="general-tabpane">
                        <fieldset class="container-fluid">
                            <legend>Moral</legend>
                            <div class="row">
                                <div class="col-sm-2">
                                    Satisfaction générale
                                </div>
                                <div class="col-sm-8">
                                    <div class="progress">
                                        <div class="progress-bar bg-danger"
                                             role="progressbar"
                                             style="width: {{ colony.insatisfaction }}%"
                                             aria-valuenow="{{ colony.baddies + colony.hostiles }}"
                                             aria-valuemin="0"
                                             aria-valuemax="{{ colony.population }}"
                                             title="{{ colony.insatisfaction }}% insatisfaits dont {{ colony.hostiles|nformat }} hostiles"></div>
                                        <div class="progress-bar"
                                             role="progressbar"
                                             style="width: {{ colony.neutrals }}%"
                                             aria-valuenow="{{ colony.population - (colony.baddies + colony.hostiles + colony.goodies + colony.partisans) }}"
                                             aria-valuemin="0"
                                             aria-valuemax="{{ colony.population }}"></div>
                                        <div class="progress-bar bg-success"
                                             role="progressbar"
                                             style="width: {{ colony.satisfaction }}%"
                                             aria-valuenow="{{ colony.goodies + colony.partisans }}"
                                             aria-valuemin="0"
                                             aria-valuemax="{{ colony.population }}"
                                             title="{{ colony.satisfaction }}% satisfaits dont {{ colony.partisans|nformat }} partisans"></div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    Total:
                                    {{ colony.population|nformat }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    Satisfaction
                                </div>
                                <div class="col-sm-4">
                                    {{ colony.satisfaction }}%
                                    soit
                                    {{ (colony.goodies + colony.partisans)|nformat }}
                                </div>
                                <div class="col-sm-6">
                                    Une population satisfaite permet un taux de taxe
                                    plus élevé sans grogne.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    Insatisfaction
                                </div>
                                <div class="col-sm-4">
                                    {{ colony.insatisfaction }}%
                                    soit
                                    {{ (colony.baddies + colony.hostiles)|nformat }}
                                </div>
                                <div class="col-sm-6">
                                    Une population insatisfaite ralentit la production,
                                    augmente les couts, et peut provoquer des incidents.
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="container-fluid">
                            <legend>Ressources</legend>
                            <div class="row">
                                {% for stock in stocks %}
                                    <div class="card w-25">
                                        <div class="card-header">{{ stock.resource.name }}</div>
                                        <div class="card-body">
                                            <h5 class="card-title">{{ stock.stocks|nformat }}</h5>
                                            <p class="card-text">&nbsp;</p>
                                        </div>
                                    </div>
                                {% endfor%}
                                <div class="card w-25">
                                    <div class="card-header">Énergie</div>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            {{ colony.energyUsed }}
                                            /
                                            {{ colony.energyStock }}
                                        </h5>
                                        <p class="card-text">
                                            L'énergie est utilisée en continu
                                            par les batiments. Sa production est
                                            instantanée.
                                        </p>
                                    </div>
                                </div>
                                <div class="card w-25">
                                    <div class="card-header">Travailleurs</div>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            {{ colony.workers }}
                                            /
                                            {{ colony.population }}
                                        </h5>
                                        <p class="card-text">
                                            Les travailleurs sont utilisés en continu
                                            par les batiments et viennent directement
                                            de votre population. Ils ne sont pas consommés,
                                            mais sont occupés.
                                            Un taux d'occupation trop faible signifie du chômage,
                                            ce qui a tendance à nuire au moral.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="tab-pane"
                         id="planet-tabpane"
                         role="tabpanel"
                         aria-labelledby="planet-tabpane">
                        <fieldset class="container-fluid">
                            <legend>
                                {{ colony.celestial.fullName }}
                            </legend>
                            <div class="row">
                                <fieldset class="col-md-2">
                                    <legend>Description</legend>
                                    <p>
                                        {{ colony.celestial.description }}
                                    </p>
                                </fieldset>
                                <fieldset class="col-md-2">
                                    <legend>Dimensions</legend>
                                    <p>
                                        Rayon {{ colony.celestial.radius }} km<br />
                                        Distance de l'étoile {{ colony.celestial.ellipticCenterDistance / colony.celestial.au }} km
                                    </p>
                                </fieldset>
                                <fieldset class="col-md-2">
                                    <legend>Dynamique</legend>
                                    <p>
                                        Rotation {{ colony.celestial.spin }} m.s<sup>-1</sup><br />
                                        Gravité {{ colony.celestial.gravity }} G<br />
                                    </p>
                                </fieldset>
                                <fieldset class="col-md-2">
                                    <legend>Climat</legend>
                                    <p>
                                        etc.
                                    </p>
                                </fieldset>
                            </div>
                        </fieldset>
                    </div>
                    <div class="tab-pane"
                         id="buildings-tabpane"
                         role="tabpanel"
                         aria-labelledby="buildings-tabpane">
                        {% include 'internal/colonies/buildings.html.twig' %}
                    </div>
                    <div class="tab-pane"
                         id="extracts-tabpane"
                         role="tabpanel"
                         aria-labelledby="extracts-tabpane">
                        <fieldset class="container-fluid">
                            <legend>
                                Extraction
                            </legend>
                        </fieldset>
                        {% for extractor in extractors %}{% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}