{% extends 'internal-base.html.twig' %}
{% block content %}
    <div class="container-fluid">
        <h2>
            {{ colony.name }}
        </h2>
        <ul class="list-group list-group-horizontal">
            {% for stock in stocks %}
                <li class="list-group-item flex-fill" title="{{ stock.resource.name }}">
                    {{ stock.resource.unicode }}
                    {{ stock.stocks|nformat(2, false) }}
                </li>
            {% endfor %}
            <li class="list-group-item flex-fill" title="Énergie">
                🔋
                {{ colony.energyUsed }}
                /
                {{ colony.energyStock }}
            </li>
            <li class="list-group-item flex-fill" title="Travailleurs">
                👷
                {{ colony.workers }}
                /
                {{ colony.population }}
            </li>
            <li class="list-group-item flex-fill" title="Population">
                👤
                {{ colony.population|nformat }}
            </li>
            <li class="list-group-item flex-fill"
                style="min-width: 150px;"
                title="Satisfaction ({{ colony.insatisfaction }}/{{ colony.neutrals }}/{{ colony.satisfaction }})">
                <div class="progress">
                    <div class="progress-bar bg-danger"
                         role="progressbar"
                         style="width: {{ colony.insatisfaction }}%"
                         aria-valuenow="{{ colony.baddies + colony.hostiles }}"
                         aria-valuemin="0"
                         aria-valuemax="{{ colony.population }}"
                         title="{{ colony.insatisfaction }}% insatisfaits dont {{ colony.hostiles|nformat }} hostiles">
                        👎
                    </div>
                    <div class="progress-bar"
                         role="progressbar"
                         style="width: {{ colony.neutrals }}%"
                         aria-valuenow="{{ colony.population - (colony.baddies + colony.hostiles + colony.goodies + colony.partisans) }}"
                         aria-valuemin="0"
                         aria-valuemax="{{ colony.population }}">
                        👌
                    </div>
                    <div class="progress-bar bg-success"
                         role="progressbar"
                         style="width: {{ colony.satisfaction }}%"
                         aria-valuenow="{{ colony.goodies + colony.partisans }}"
                         aria-valuemin="0"
                         aria-valuemax="{{ colony.population }}"
                         title="{{ colony.satisfaction }}% satisfaits dont {{ colony.partisans|nformat }} partisans">
                        👍
                    </div>
                </div>
            </li>
        </ul>
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs"
                    id="colonyTabs"
                    role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link"
                           id="planet-tab"
                           data-toggle="tab"
                           href="#planet-tabpane"
                           role="tab"
                           aria-controls="planet-tabpane"
                           aria-selected="true">Planète</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           id="buildings-tab"
                           data-toggle="tab"
                           href="#buildings-tabpane"
                           role="tab"
                           aria-controls="buildings-tabpane"
                           aria-selected="false">Batiments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           id="techs-tab"
                           data-toggle="tab"
                           href="#techs-tabpane"
                           role="tab"
                           aria-controls="techs-tabpane"
                           aria-selected="false">Recherches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           id="prods-tab"
                           data-toggle="tab"
                           href="#prods-tabpane"
                           role="tab"
                           aria-controls="prods-tabpane"
                           aria-selected="false">Production</a>
                    </li>{% if hasSpaceport or hasSpacefactory %}
                    <li class="nav-item">
                        <a class="nav-link"
                           id="fleets-tab"
                           data-toggle="tab"
                           href="#fleets-tabpane"
                           role="tab"
                           aria-controls="fleets-tabpane"
                           aria-selected="false">Spatioport</a>
                    </li>{% endif %}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane show active"
                         id="planet-tabpane"
                         role="tabpanel"
                         aria-labelledby="planet-tabpane">
                        {% include 'internal/colonies/planet.html.twig' %}
                    </div>
                    <div class="tab-pane"
                         id="buildings-tabpane"
                         role="tabpanel"
                         aria-labelledby="buildings-tabpane">
                        {% include 'internal/colonies/buildings.html.twig' %}
                    </div>
                    <div class="tab-pane"
                         id="techs-tabpane"
                         role="tabpanel"
                         aria-labelledby="techs-tabpane">
                        {% include 'internal/colonies/techs.html.twig' %}
                    </div>
                    <div class="tab-pane"
                         id="prods-tabpane"
                         role="tabpanel"
                         aria-labelledby="prods-tabpane">
                        <fieldset class="container-fluid">
                            <legend>
                                Production
                            </legend>
                        </fieldset>
                    </div>
                    <div class="tab-pane"
                         id="fleets-tabpane"
                         role="tabpanel"
                         aria-labelledby="fleets-tabpane">
                        <fieldset class="container-fluid">
                            <legend>
                                Spatioport
                            </legend>
                        </fieldset>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}