{% if alreadyWrapped is not defined or not alreadyWrapped %}<div class="d-flex flex-wrap">{% endif %}
    {% for line in _values %}
        <div class="d-flex justify-content-between align-items-center ml-2"
            title="{{ line.resource.name }}">
            {{ line.resource.unicode }}&nbsp;
            <span class="badge badge-{% if _insufficient is defined and attribute(_insufficient, line.resource.id) is defined %}danger{% else %}primary{% endif %} badge-pill"
                  title="{{ line.nb }} {{ line.resource.name }}">
                {{ line.nb|nformat }}
            </span>
        </div>
    {% endfor %}
{% if alreadyWrapped is not defined or not alreadyWrapped %}</div>{% endif %}