<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{% block title %}Voidfield{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🕳</text></svg>">
        {% block stylesheets %}
            <link type="text/css" rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
            <link type="text/css" rel="stylesheet" href="{{ asset('css/voidfield.css') }}" />
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/moment.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery-3.5.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>{# include both bootstrap and popper, but not jquery #}
            <script src="https://unpkg.com/vue@next"></script>
            <script type="module" src="{{ asset('js/voidfield.js') }}"></script>
            <script type="module" src="{{ asset('js/init.js') }}"></script>
        {% endblock %}
    </body>
</html>
