{% extends 'base.html.twig' %}
{% block body %}
    <header class="">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand"
               href="{{ path('home') }}"
               title="Voidfield">🕳</a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#mainMenu"
                    aria-controls="mainMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"
                 id="mainMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link"
                           href="{{ path('home') }}">Empire{% if current is not defined or 'home' == current %}<span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="#">Informations{% if current is defined and 'infos' == current %}<span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ path('register') }}">Inscription{% if current is defined and 'register' == current %}<span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                </ul>
            </div>
            <div class="mt-2 mt-md-0">
                <a href="{{ path('preferences') }}">{{ app.user.username }}</a>
                <a href="{{ path('logout') }}">Déconnexion</a>
            </div>
        </nav>
    </header>
    {% if app.flashes is not empty or _messages is not empty %}
        <div class="ghost-message-container">
            {% for sts in [app.flashes, _messages] %}
                {% for mtype, messages in sts %}
                    {% for message in messages %}
                        <div class="ghost-message flash-{{ mtype }} alert {% include 'comps/alert-cls.html.twig' with {'_p': mtype} %} alert-dismissable fade show">
                            {{ message }}
                            &nbsp;
                            <button type="button"
                                    class="close"
                                    data-dismiss="alert"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
    <section id="mainContent">
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}